@import url(https://fonts.googleapis.com/css?family=Roboto:900,300);

.container {
  width: 800px;
  height: 300px;
  margin: 120px auto 120px;
  background-color: rgb(200, 209, 214);
  padding: 0 20px 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  text-align: center;
}


h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #333;
}
h4 {
  font-size: 13px;
  color: #00baff;
  letter-spacing: 1px;
  margin-bottom: 25px
}
p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 20px;
  color: #666;
}

.col1 {
    float:left; 
    width:100px;
    background-color: #E8F6F7;
}

.col2 {
    float:left; 
    width:200px; 
    margin-left:30px;
    background-color: #f2dede;
}

body {background: #ececec;}
h1, h2, h3, h4, h5 {
  border-bottom: 1px solid #ccc;
  color: #3F51B5;
  padding-bottom: 8px
}
.container {
  margin: auto;
  width: 550px;
  text-align: center;
  height: 550px;
}
.listFlex {display: flex; justify-content: center;}

img {
  width: 25%;
}